.ui.pointing.secondary.menu#post-form-menu
  =link_to "Post", "javascript:;", data: { tab: "post" }, class: "item active"
  =link_to "Attachments", "javascript:;", data: { tab: "attachment" }, class: "item"
  =link_to "Quiz/Homework", "javascript:;", data: { tab: "quizahomework" }, class: "item"
.ui.form
  =form_for [ @group, @group.posts.new ], remote: true do |post|
    .ui.tab.active.segment.clearfix-segment{ data: { tab: "post" } }
      .ui.field
        =post.text_area :content, placeholder: "Write a topic to be discuss."
      =post.submit "Post", class: "ui button green right floated"
    .ui.tab.segment.clearfix-segment{ data: { tab: "attachment" } }
      .field
        %label Repositories
        =select_tag :repositories, options_from_collection_for_select( current_user.video_repositories, :id, :title), include_blank: true
      .field#video-field
        %label Video
        =post.grouped_collection_select :video, current_user.video_repositories, :videos, :title, :id, :title, include_blank: true
      .field
        %label File attachments
        =select_tag :attachments, options_from_collection_for_select(current_user.files, :id, :title), class: "ui fluid search selection dropdown", id: "post_attachments", multiple: true
      =post.submit "Post", class: "ui button green right floated"
