#login-container
  %h2.ui.center.aligned.header#login-label
    Login
  =form_tag login_path, method: :post, class: 'ui form', id: "login-form-control" do
    .field.required.login-field
      =text_field_tag :email, nil, placeholder: "E-mail"
    .field.required.login-field
      =password_field_tag :password, nil, placeholder: "Password"
    .two.fields
      .field
        .ui.checkbox
          =check_box :remember, nil
          %label 
            Remember Me
      .field
        =link_to "Forgot Password", "javascript:;", class: "link"
    .two.fields
      .field
        =submit_tag "Login", class: "ui green button large login-buttons"
      .field
        .ui.large.standard.option.button.login-buttons#sign-up-button
          Sign Up
.ui.small.option.modal#sign-up-modal
  .ui.top.attached.label
    Sign up as
  .ui.buttons#role-choices
    =link_to "Student", new_user_path("student"), class: "ui green button role-choice"
    .or
    =link_to "Instructor", new_user_path("instructor"), class: "ui green button role-choice"
