/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require normalize
 *= require custom
 */
@import "semantic-ui";
body{
}

h1, h2, h3, h4, h5, h6{
  margin: 5px;
}
.green-background
{
  background-color: #008947 !important;
  color: white !important;
}
.green{
  background-color: #008947 !important;
}
.ui.inverted.green.button{
  background-color: transparent !important;
  box-shadow: 0px 0px 0px 2px #008947 inset !important;
  color: #008947 !important;
}
.ui.inverted.green.button:hover{
  background-color: #008947 !important;
  box-shadow: 0px 0px 0px 2px #008947 inset !important;
  color: white !important;
}

.ui.flash
{
  background-color: rgba(0, 137, 71, 0.8);
  color:white;
  top:55px;
  right: 35px;
  font-size:13px;
  padding:20px 10px 20px 10px;
  position:absolute;
  height: auto;
  width: 20%;
  text-align: justify;
  z-index: 999;
}
