.top-bar
  .ui.grid.container
    .row
      .four.wide.column
        %h4.brand-name
          Brand Name
      -if logged_in?
        .right.floated.four.wide.column
          .ui.text-right
            .ui.horizontal.list.inverted
              =link_to "Home", pages_index_path, class: "item"
              =link_to "#{current_user.fullname}", edit_user_path(current_user.id), class: "item"
            .ui.icon.top.right.pointing.dropdown#main_setting
              =semantic_icon 'inverted large setting'
              .menu
                -if current_user.role != 'student'
                  =link_to documents_path, class: "item", id: "my-file-repository" do
                    =semantic_icon 'file'
                    My File Repository
                  =link_to "javascript:;", class: "item", id: "my-video-repository" do
                    =semantic_icon 'folder'
                    My Video Repositories
                  .divider
                  =link_to "javascript:;", class: "item", id: "create-video-repository" do
                    =semantic_icon 'video play'
                    Create Video Repository
                  =link_to "javascript:;", class: "item", id: "create-group" do
                    =semantic_icon "users"
                    Create Group
                .divider
                =link_to logout_path, method: :delete, class: "item" do
                  =semantic_icon "power"
                  Logout
