!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lms
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    -if flash[:notice].present?
      .ui.flash#notice
        =flash[:notice]
    =render 'header'
    .background-image
      .ui.grid.container#main-container
        .row
          .sixteen.wide.column
            = yield
